#-----------------------------------------------------------------------------------------------
#Begin by renaming this file to .env and filling in the appropriate values for your environment.
#-----------------------------------------------------------------------------------------------

# AllegroGraph Credentials
AG_BASE_URL=allegrograph_base_url
AG_REPO=your_repository_name
AG_USER=your_allegrograph_username
AG_PASSWORD=your_allegrograph_password

#User Credentials
ADMIN_USER=admin_username
ADMIN_PASSWORD=admin_password

SECTOR_OFFICER_USER=sector_officer_username
SECTOR_OFFICER_PASSWORD=sector_officer_password

FIELD_OFFICER_USER=field_officer_username
FIELD_OFFICER_PASSWORD=field_officer_password